@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<link rel="stylesheet" href="~/css/style2.css">

        <section>
            <div class="form-box">
                <div class="form-value">
                    <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                        <h2>Sign up</h2>
                        <div class="inputbox">
                            <ion-icon name="person-outline"></ion-icon>
                            <input asp-for="Input.Name" aria-required="true" placeholder="Viktor" type="text">
                            <label asp-for="Input.Name">First name</label>
                            <span asp-validation-for="Input.Name" class="text-danger"></span>
                        </div>
                        <div class="inputbox">
                            <ion-icon name="person-outline"></ion-icon>
                            <input asp-for="Input.SecondName" aria-required="true" placeholder="Symaka" type="text">
                            <label asp-for="Input.SecondName">Second name</label>
                            <span asp-validation-for="Input.SecondName" class="text-danger"></span>
                        </div>
                        <div class="inputbox">
                            <ion-icon name="mail-outline"></ion-icon>
                            <input asp-for="Input.Email" autocomplete="username" aria-required="true" placeholder="name@example.com" type="email">
                            <label asp-for="Input.Email">Email</label>
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div class="inputbox">
                            <ion-icon name="lock-closed-outline"></ion-icon>
                            <input asp-for="Input.Password" autocomplete="new-password" aria-required="true" placeholder="password">
                            <label asp-for="Input.Password">Password</label>
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div class="inputbox">
                            <ion-icon name="lock-closed-outline"></ion-icon>
                            <input asp-for="Input.ConfirmPassword" autocomplete="new-password" aria-required="true" placeholder="password">
                            <label asp-for="Input.ConfirmPassword">Confirm password</label>
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div class="forget">
                            <label>
                                <input type="checkbox">Remember Me
                            </label>
                            @*<a href="#">Forgot password</a>*@
                        </div>
                        <button id="registerSubmit" type="submit">Register</button>
                    </form>
                </div>
            </div>
        </section>

<div class="animation-area">
    <ul class="box-area">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
